//ブレークポイント
$bp-tab: 768px;
$bp-pc: 1024px;
$bp-wide: 1280px;

//フォントサイズ
$fs-normal: 1.6rem;
$fs-large: 3rem;

//カラー
$fc-normal: #5a5a55;
$fc-accent: #6b5e4b;

$bg: #ffffff;
$card-color: #d8bfaa;
$color-accent: #b0ad84;
